@model  YLongNieKDam_lab4.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
<div class="row">
    <ul class="course">
        @foreach (var courses in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @courses.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @courses.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @courses.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@courses.LecturerId">Follow</button>
                        }
                    </span>
                    <span class="category">
                        @courses.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@courses.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>
